@charset "UTF-8";
/* Styles généraux pour le body */
body {
  /* Styles pour la section #blender */
}
body #blender {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  background-image: url("../medias/Background.png");
  /* Styles pour les éléments .titre dans #blender */
  /* Styles pour l'introduction dans #blender */
  /* Styles pour les technologies dans #blender */
  /* Styles pour le rendu final */
}
body #blender .titre {
  width: 60%;
  text-shadow: 0 0 12px #b316d6, 0 0 18px #927419, 0 0 24px #563e1a, 0 0 30px #5c4d1d, 0 0 40px #e8bf09;
}
body #blender .intro__blender {
  width: 60%;
  padding-bottom: 3rem;
}
body #blender .technologies {
  display: flex;
  width: 80%;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.6117647059);
  padding: 3rem;
  border-radius: 2rem;
  /* Styles pour les outils dans les technologies */
}
body #blender .technologies .outil div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Styles pour les modales */
  /* Styles pour les images GIF des outils */
}
body #blender .technologies .outil div p {
  width: 80%;
}
@media screen and (max-width: 750px) {
  body #blender .technologies .outil div {
    flex-direction: column-reverse;
  }
}
body #blender .technologies .outil div .modal {
  display: none; /* Cachée par défaut */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
body #blender .technologies .outil div .modal-content {
  background-color: #1e1e1e;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
body #blender .technologies .outil div .modal-content img {
  width: 40rem;
}
body #blender .technologies .outil div .modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
body #blender .technologies .outil div .modal .close:hover, body #blender .technologies .outil div .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
body #blender .technologies .outil div .gif__outil {
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
body #blender .technologies .outil div #gif__sculpt {
  background-image: url("../medias/Gif_medias/Outil_Sculpt.gif");
}
body #blender .technologies .outil div #gif__curve {
  background-image: url("../medias/Gif_medias/Outil_Curve.gif");
}
body #blender .technologies .outil div #gif__shrinkwrap {
  background-image: url("../medias/Gif_medias/Outil_Shrinkwrap.gif");
}
body #blender .rendu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* Styles pour le titre du rendu final */
  /* Styles pour le wrapper du rendu final */
}
body #blender .rendu #rendu__final {
  font-size: 7rem;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}
body #blender .rendu .wrapper {
  width: 1100px;
  height: 820px;
  position: relative;
  margin-top: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@media screen and (max-width: 1000px) {
  body #blender .rendu .wrapper {
    width: 670px;
    height: 500px;
  }
}
body #blender .rendu .wrapper .before,
body #blender .rendu .wrapper .after {
  height: 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}
body #blender .rendu .wrapper .before .content-image,
body #blender .rendu .wrapper .after .content-image {
  height: 100%;
}
body #blender .rendu .wrapper .after {
  width: 125px;
}
body #blender .rendu .wrapper .scroller {
  width: 30px;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.9;
  pointer-events: auto;
  cursor: pointer;
}
body #blender .rendu .wrapper .scroller:hover {
  opacity: 1;
}
body #blender .rendu .wrapper .scroller .scroller__thumb {
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 6px solid white;
  border-radius: 50%;
}
body #blender .rendu .wrapper .scroller:before,
body #blender .rendu .wrapper .scroller:after {
  content: " ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 88%;
  margin-left: -3.5px;
  z-index: 30;
  transition: 0.1s;
  background-color: whitesmoke;
}
body #blender .rendu .wrapper .scroller:before {
  top: 90%;
}
body #blender .rendu .wrapper .scroller:after {
  bottom: 100%;
}
body #blender .rendu .wrapper .scrolling {
  pointer-events: none;
  opacity: 1;
}

/* Media queries pour les tailles d'écran */
@media screen and (max-width: 1200px) {
  /* Styles pour #blender à une largeur d'écran maximale de 1200px */
}
@media screen and (max-width: 750px) {
  /* Styles pour #blender à une largeur d'écran maximale de 750px */
}
#modeles {
  background-image: url("../medias/Background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-top: 6rem;
  /* Styles pour l'introduction des modèles */
  /* Styles pour la description des modèles */
  /* Styles pour la section inversée */
}
#modeles .intro__modeles {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-bottom: 3rem;
}
@media screen and (max-width: 750px) {
  #modeles .intro__modeles {
    width: 80%;
  }
}
#modeles .description {
  background-color: rgba(0, 0, 0, 0.603);
  position: relative;
  width: 80%;
  height: 22rem;
  border-radius: 2rem;
  border-bottom-left-radius: 11rem;
  border-top-left-radius: 11rem;
  display: flex;
  justify-content: flex-end;
  /* Styles pour l'image 3D */
  /* Styles pour les informations sur les modèles 3D */
}
#modeles .description .img__3d {
  width: 30%;
  position: relative;
  /* Positionnement des modèles 3D */
  /* Styles pour chaque modèle spécifique */
}
#modeles .description .img__3d .modele__3d {
  width: 700px;
  height: auto;
  position: absolute;
  top: -12rem;
  left: -12rem;
}
#modeles .description .img__3d #livre__potion {
  width: 600px;
  left: -7rem;
  top: -6rem;
}
@media screen and (max-width: 1445px) {
  #modeles .description .img__3d #livre__potion {
    width: 500px;
    top: -2rem;
    left: -3rem;
  }
}
#modeles .description .info3D {
  width: 65%;
  margin: 2rem;
  text-align: right;
  /* Styles pour le titre des objets 3D */
  /* Styles pour les paragraphes d'informations */
  /* Styles pour les liens de téléchargement */
}
#modeles .description .info3D .titre__objet__3d {
  font-family: "Eger", sans-serif;
  font-size: 5rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 3rem;
  letter-spacing: 2px;
}
@media screen and (max-width: 1000px) {
  #modeles .description .info3D .titre__objet__3d {
    justify-content: center;
    flex-direction: row;
  }
}
#modeles .description .info3D p {
  padding-left: 6rem;
}
#modeles .description .info3D a i {
  font-size: 2rem;
  z-index: 100;
  position: relative;
  opacity: 0.5;
}
#modeles .description .info3D a i:hover {
  opacity: 1;
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
}
#modeles #inverse {
  border-bottom-right-radius: 11rem;
  border-top-right-radius: 11rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  display: flex;
  flex-direction: row-reverse;
  /* Styles pour l'image 3D */
  /* Styles pour les informations sur les modèles 3D */
}
#modeles #inverse .img__3d {
  width: 30%;
  position: relative;
  /* Positionnement des modèles 3D */
  /* Styles pour chaque modèle spécifique */
}
#modeles #inverse .img__3d .modele__3d {
  width: 700px;
  position: absolute;
  top: -12rem;
  left: -12rem;
}
#modeles #inverse .img__3d #chaudron {
  width: 1000px;
  top: -23rem;
  left: -23rem;
}
@media screen and (max-width: 1445px) {
  #modeles #inverse .img__3d #chaudron {
    width: 850px;
    top: -15rem;
    left: -19rem;
  }
}
#modeles #inverse .img__3d #stand__livre {
  transform: rotate(2deg);
}
#modeles #inverse .info3D {
  text-align: left;
  /* Styles pour le titre des objets 3D */
  /* Styles pour les paragraphes d'informations */
  /* Styles pour les liens de téléchargement */
}
#modeles #inverse .info3D .titre__objet__3d {
  flex-direction: row;
}
#modeles #inverse .info3D p {
  padding-left: 0;
  padding-right: 6rem;
}
#modeles #inverse .info3D .telechargement {
  left: 3rem;
}

/* Styles pour les écrans de petite taille */
@media screen and (max-width: 700px) {
  body #modeles .description {
    width: 24rem;
    height: 45rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 11rem;
    display: flex;
    justify-content: space-around;
  }
  body #modeles .description .img__3d {
    width: 0%;
    position: relative;
  }
  body #modeles .description .img__3d .modele__3d {
    width: 450px;
    top: -6rem;
    left: -2rem;
  }
  body #modeles .description .img__3d #livre__potion {
    width: 400px;
    left: -0.5rem;
    top: -4rem;
  }
  body #modeles .description .info3D {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  body #modeles .description .info3D p {
    padding-left: 0;
  }
  body #modeles #inverse {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 11rem;
  }
  body #modeles #inverse .img__3d {
    width: 0%;
    position: relative;
  }
  body #modeles #inverse .img__3d #chaudron {
    width: 520px;
    top: -7rem;
    left: -29rem;
  }
  body #modeles #inverse .img__3d #stand__livre {
    transform: rotate(2deg);
    width: 470px;
    top: -8rem;
    left: -27rem;
  }
  body #modeles #inverse .info3D {
    text-align: center;
  }
  body #modeles #inverse .info3D p {
    padding-right: 0;
  }
}
/* Styles pour les écrans de taille moyenne */
@media screen and (max-width: 1000px) {
  #modeles .description {
    width: 35rem;
    height: 45rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 11rem;
  }
  #modeles .description .img__3d {
    width: 0%;
    position: relative;
  }
  #modeles .description .img__3d .modele__3d {
    width: 550px;
    top: -8rem;
    left: 0rem;
  }
  #modeles .description .img__3d #livre__potion {
    width: 500px;
    left: 2rem;
    top: -4rem;
  }
  #modeles .description .info3D {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  #modeles .description .info3D p {
    padding-left: 0;
  }
  #modeles #inverse {
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 11rem;
  }
  #modeles #inverse .img__3d {
    width: 0%;
    position: relative;
  }
  #modeles #inverse .img__3d #chaudron {
    width: 700px;
    top: -12rem;
    left: -40rem;
  }
  #modeles #inverse .img__3d #stand__livre {
    transform: rotate(2deg);
    width: 550px;
    top: -8rem;
    left: -35rem;
  }
  #modeles #inverse .info3D {
    text-align: center;
  }
  #modeles #inverse .info3D p {
    padding-right: 0;
  }
}
html body #creation {
  background-image: url("../medias/Background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6rem;
}
html body #creation .conteneur__principal__creation {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body #creation .conteneur__principal__creation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
html body #creation .conteneur__principal__creation div .titre {
  width: 100%;
  display: block;
  text-shadow: 0 0 12px #b316d6, 0 0 18px #927419, 0 0 24px #563e1a, 0 0 30px #5c4d1d, 0 0 40px #e8bf09;
}
html body #creation .conteneur__principal__creation div #banque__photos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 810px;
  padding-top: 1rem;
}
@media screen and (max-width: 750px) {
  html body #creation .conteneur__principal__creation div #banque__photos {
    width: 400px;
  }
}
html body #creation .conteneur__principal__creation div #banque__photos .img__creation {
  width: 250px;
  height: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}
html body #creation .conteneur__principal__creation div #banque__photos .gauche {
  background-image: url("../medias/CroquisPersonnage.png");
}
html body #creation .conteneur__principal__creation div #banque__photos .millieu {
  background-image: url("../medias/CroquisPiece.png");
}
html body #creation .conteneur__principal__creation div #banque__photos .droite {
  background-image: url("../medias/CroquisItems.png");
}
html body #creation .conteneur__principal__creation .principal {
  width: 810px;
  height: 420px;
  background-image: url("../medias/MoodBoard.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 9rem;
  position: relative;
}
html body #creation .conteneur__principal__creation .principal i {
  font-size: 2.3rem;
  position: absolute;
  top: 50%;
  transition: all 0.2s ease-in-out;
}
html body #creation .conteneur__principal__creation .principal i:hover {
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
}
html body #creation .conteneur__principal__creation .principal .fleche__droite {
  right: -2.5rem;
}
html body #creation .conteneur__principal__creation .principal .fleche__gauche {
  left: -2.5rem;
  transform: rotate(180deg);
}
@media screen and (max-width: 750px) {
  html body #creation .conteneur__principal__creation div {
    width: 80%;
  }
  html body #creation .conteneur__principal__creation div .img__creation {
    width: 300px;
    height: 260px;
    padding-top: 0;
  }
}
@media screen and (max-width: 1000px) {
  html body #creation .conteneur__principal__creation div #banque__photos .img__creation {
    width: 150px;
    height: 150px;
  }
  html body #creation .conteneur__principal__creation .principal {
    width: 580px;
    height: 260px;
  }
}

@font-face {
  font-family: "Eger";
  src: url("/../font/EGER_1.0/EGER-Regular.otf") format("otf");
}
body header {
  background-image: url("../medias/Background.png");
  background-position: center;
  background-size: cover;
}
body header .menu__open {
  overflow: hidden;
}
body header #menu__toggle {
  display: none;
}
body header #menu__toggle:checked ~ .menu {
  transform: translateX(0rem);
  transition: all 0.5s ease-in-out;
}
body header .fa-bars {
  font-size: 2.5rem;
  position: fixed;
  right: 1rem;
  top: 0.5rem;
  z-index: 1000;
}
@media screen and (min-width: 750px) {
  body header .fa-bars {
    display: none;
  }
}
body header nav {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.48);
  position: fixed;
  border-bottom: 1px solid whitesmoke;
  z-index: 100;
}
body header nav ul {
  display: flex;
  justify-content: space-around;
  width: 50vw;
}
body header nav ul li {
  list-style: none;
  width: 5rem;
}
body header nav ul li:hover i {
  transform: translateX(-4.5rem);
  opacity: 1;
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
  font-size: 1.5rem;
}
body header nav ul li i {
  position: absolute;
  opacity: 0;
  transition: all 0.1s ease;
}
body header nav ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
body header nav ul li a:hover {
  font-weight: bold;
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
}
body header nav .logo {
  height: 7rem;
}
body header nav .logo img {
  width: 12rem;
  height: auto;
}
@media screen and (max-width: 750px) {
  body header nav {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    border-bottom: none;
    flex-direction: column;
    transform: translateX(50rem);
    transition: all 0.5s ease-in-out;
  }
  body header nav ul {
    flex-direction: column;
    justify-content: space-evenly;
    width: 20rem;
    height: 100%;
  }
  body header nav ul li {
    width: 18rem;
  }
  body header nav ul li:hover i {
    transform: translateX(-4.5rem);
    opacity: 1;
    text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
    font-size: 1.5rem;
  }
  body header nav ul li i {
    position: absolute;
    opacity: 0;
    transition: all 0.1s ease;
  }
  body header nav ul li a {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 2px;
  }
  body header nav ul li a:hover {
    font-weight: bold;
    text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
  }
  body header nav .logo {
    text-align: center;
  }
  body header nav .logo img {
    width: 12rem;
    height: auto;
  }
}
body header .conteneur__titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  position: relative;
}
body header .conteneur__titre div {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgba(245, 245, 245, 0.2);
  color: #1a1a1a;
  font-size: 5rem;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 5px;
  font-family: "Eger", sans-serif;
}
body header .conteneur__titre .moon {
  font-family: "Eger", sans-serif;
  font-size: 30rem;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00d0ff, 0 0 70px #00d0ff, 0 0 80px #00d0ff, 0 0 100px #00d0ff, 0 0 150px #00d0ff;
  color: whitesmoke;
  animation: glow 10s infinite alternate;
}
body header .conteneur__titre #MoonVisage {
  width: 650px;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 1200px) {
  body header .conteneur__titre #MoonVisage {
    width: 500px;
    right: auto;
  }
}
@media screen and (max-width: 750px) {
  body header .conteneur__titre #MoonVisage {
    width: 400px;
  }
}
@media screen and (max-width: 750px) {
  body header .conteneur__titre {
    padding-top: 8rem;
  }
  body header .conteneur__titre div {
    font-size: 3rem;
  }
  body header .conteneur__titre .moon {
    font-size: 23rem;
  }
}
body header .synopsis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.352);
  padding: 1rem;
}
body header .synopsis i {
  position: absolute;
  font-size: 5rem;
  opacity: 0.1;
}
body header .synopsis .fa-quote-left {
  top: -4rem;
  left: -3rem;
}
body header .synopsis .fa-quote-right {
  bottom: -4rem;
  right: -3rem;
}
body header .synopsis p {
  width: 60%;
  position: relative;
  font-weight: 500;
}
@media screen and (max-width: 750px) {
  body header .synopsis .fa-quote-left {
    left: -1rem;
  }
  body header .synopsis .fa-quote-right {
    right: -1rem;
  }
  body header .synopsis p {
    width: 80%;
    font-size: 0.9rem;
    text-align: center;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 40px #54218f, 0 0 40px #12b7dd, 0 0 70px #248ea6, 0 0 80px #265e6a, 0 0 100px #2d4d54, 0 0 150px #2f3638;
  }
  50% {
    text-shadow: 0 0 200px #12b7dd, 0 0 350px #248ea6, 0 0 400px #265e6a, 0 0 500px #2d4d54, 0 0 750px #2f3638;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 40px #54218f, 0 0 40px #12b7dd, 0 0 70px #248ea6, 0 0 80px #265e6a, 0 0 100px #2d4d54, 0 0 150px #2f3638;
  }
}
/* Styles généraux pour le body */
body {
  /* Styles pour le footer */
}
body footer {
  background-image: url("../medias/Background.png");
  height: 20rem;
  position: relative;
  /* Styles pour les informations du footer */
  /* Styles pour l'enveloppe des animations */
}
body footer .info__footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 90%;
  height: 80%;
  /* Styles pour le titre dans le footer */
  /* Styles pour les icônes de réseaux sociaux dans le footer */
}
body footer .info__footer h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}
body footer .info__footer .sociaux {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 2rem;
  height: 30%;
  /* Styles pour les liens des icônes */
}
body footer .info__footer .sociaux a {
  opacity: 0.5;
}
body footer .info__footer .sociaux a:hover {
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
  opacity: 1;
}
body footer .info__footer .sociaux a i {
  font-size: 2rem;
}
body footer #wrap {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto 0 auto;
  overflow: hidden;
  /* Styles pour les éclairages dans l'enveloppe */
}
body footer #wrap #lightings {
  bottom: -60px;
  position: absolute;
  width: 100%;
  /* Styles pour les différentes sections des éclairages */
  /* Styles pour la première section d'éclairage */
  /* Styles pour la deuxième section d'éclairage */
  /* Styles pour la troisième section d'éclairage */
  /* Styles pour la quatrième section d'éclairage */
  /* Styles pour la cinquième section d'éclairage */
}
body footer #wrap #lightings section {
  /* Bordure arrondie */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  width: 100%;
  position: relative;
  margin: auto;
}
body footer #wrap #lightings #one {
  /* Animation */
  -webkit-animation: one 5s ease-in-out infinite alternate;
  -moz-animation: one 5s ease-in-out infinite alternate;
  -ms-animation: one 5s ease-in-out infinite alternate;
  -o-animation: one 5s ease-in-out infinite alternate;
  animation: one 5s ease-in-out infinite alternate;
}
body footer #wrap #lightings #two {
  width: 90%;
  /* Animation */
  -webkit-animation: two 4s ease-in-out infinite alternate;
  -moz-animation: two 4s ease-in-out infinite alternate;
  -ms-animation: two 4s ease-in-out infinite alternate;
  -o-animation: two 4s ease-in-out infinite alternate;
  animation: two 4s ease-in-out infinite alternate;
}
body footer #wrap #lightings #three {
  width: 80%;
  /* Animation */
  -webkit-animation: three 3s ease-in-out infinite alternate;
  -moz-animation: three 3s ease-in-out infinite alternate;
  -ms-animation: three 3s ease-in-out infinite alternate;
  -o-animation: three 3s ease-in-out infinite alternate;
  animation: three 3s ease-in-out infinite alternate;
}
body footer #wrap #lightings #four {
  width: 70%;
  /* Animation */
  -webkit-animation: four 2s ease-in-out infinite alternate;
  -moz-animation: four 2s ease-in-out infinite alternate;
  -ms-animation: four 2s ease-in-out infinite alternate;
  -o-animation: four 2s ease-in-out infinite alternate;
  animation: four 2s ease-in-out infinite alternate;
}
body footer #wrap #lightings #five {
  width: 60%;
  /* Animation */
  -webkit-animation: five 1s ease-in-out infinite alternate;
  -moz-animation: five 1s ease-in-out infinite alternate;
  -ms-animation: five 1s ease-in-out infinite alternate;
  -o-animation: five 1s ease-in-out infinite alternate;
  animation: five 1s ease-in-out infinite alternate;
}

/* Styles pour les animations */
/* Animation pour la première section */
@-webkit-keyframes one {
  from {
    -webkit-box-shadow: 0 0 250px 20px #473c78;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #f72a3b;
  }
}
@-moz-keyframes one {
  from {
    -moz-box-shadow: 0 0 250px 20px #473c78;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #f72a3b;
  }
}
@-o-keyframes one {
  from {
    -o-box-shadow: 0 0 250px 20px #473c78;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #f72a3b;
  }
}
@keyframes one {
  from {
    box-shadow: 0 0 250px 20px #473c78;
  }
  to {
    box-shadow: 0 0 100px 15px #f72a3b;
  }
}
/* Animation pour la deuxième section */
@-webkit-keyframes two {
  from {
    -webkit-box-shadow: 0 0 250px 20px #18c499;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #d8f05e;
  }
}
@-moz-keyframes two {
  from {
    -moz-box-shadow: 0 0 250px 20px #18c499;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #d8f05e;
  }
}
@-o-keyframes two {
  from {
    -o-box-shadow: 0 0 250px 20px #18c499;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #d8f05e;
  }
}
@keyframes two {
  from {
    box-shadow: 0 0 250px 20px #18c499;
  }
  to {
    box-shadow: 0 0 100px 15px #d8f05e;
  }
}
/* Animation pour la troisième section */
@-webkit-keyframes three {
  from {
    -webkit-box-shadow: 0 0 250px 20px #ffdd00;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@-moz-keyframes three {
  from {
    -moz-box-shadow: 0 0 250px 20px #ffdd00;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@-o-keyframes three {
  from {
    -o-box-shadow: 0 0 250px 20px #ffdd00;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@keyframes three {
  from {
    box-shadow: 0 0 250px 20px #ffdd00;
  }
  to {
    box-shadow: 0 0 100px 15px #3e33ff;
  }
}
/* Animation pour la quatrième section */
@-webkit-keyframes four {
  from {
    -webkit-box-shadow: 0 0 250px 20px #781848;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}
@-moz-keyframes four {
  from {
    -moz-box-shadow: 0 0 250px 20px #781848;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}
@-o-keyframes four {
  from {
    -o-box-shadow: 0 0 250px 20px #781848;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}
@keyframes four {
  from {
    shadow: 0 0 250px 20px #781848;
  }
  to {
    shadow: 0 0 100px 15px #f2bbe9;
  }
}
/* Animation pour la cinquième section */
@-webkit-keyframes five {
  from {
    -webkit-box-shadow: 0 0 250px 20px #42f2a1;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
@-moz-keyframes five {
  from {
    -moz-box-shadow: 0 0 250px 20px #42f2a1;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
@-o-keyframes five {
  from {
    -o-box-shadow: 0 0 250px 20px #42f2a1;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
@keyframes five {
  from {
    box-shadow: 0 0 250px 20px #42f2a1;
  }
  to {
    box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html a {
  text-decoration: none;
  color: whitesmoke;
}
html body {
  background-color: #1a1a1a;
  color: whitesmoke;
}
html body p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
html body p br {
  padding: 1rem;
}
html body h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
}
html body section .titre {
  font-family: "Eger", sans-serif;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  text-shadow: 0 0 12px #16d6d0, 0 0 18px #198092, 0 0 24px #1a3856, 0 0 30px #1d5b5c, 0 0 40px #09d5e8;
}
html body #modeles {
  background-color: white;
}/*# sourceMappingURL=main.css.map */