body #blender {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}
body #blender .titre {
  width: 60%;
}
body #blender .intro__blender {
  width: 60%;
}
body #blender .technologies {
  display: flex;
  width: 80%;
  gap: 1rem;
}
@media screen and (max-width: 750px) {
  body #blender .technologies .outil div {
    flex-direction: column-reverse;
  }
}
body #blender .technologies .outil div .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
body #blender .technologies .outil div .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 70%;
}
body #blender .technologies .outil div .modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
body #blender .technologies .outil div .modal .close:hover, body #blender .technologies .outil div .modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
body #blender .technologies .outil div .gif__outil {
  width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.35);
}
body #blender .rendu {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #blender .rendu .wrapper {
  width: 900px;
  height: 550px;
  position: relative;
  margin-top: 6rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@media screen and (max-width: 1000px) {
  body #blender .rendu .wrapper {
    width: 700px;
    height: 425px;
  }
}
body #blender .rendu .wrapper .before,
body #blender .rendu .wrapper .after {
  height: 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}
body #blender .rendu .wrapper .before .content-image,
body #blender .rendu .wrapper .after .content-image {
  height: 100%;
}
body #blender .rendu .wrapper .after {
  width: 125px;
}
body #blender .rendu .wrapper .scroller {
  width: 30px;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.9;
  pointer-events: auto;
  cursor: pointer;
}
body #blender .rendu .wrapper .scroller:hover {
  opacity: 1;
}
body #blender .rendu .wrapper .scroller .scroller__thumb {
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 6px solid white;
  border-radius: 50%;
}
body #blender .rendu .wrapper .scroller:before,
body #blender .rendu .wrapper .scroller:after {
  content: " ";
  display: block;
  width: 7px;
  height: 9999px;
  position: absolute;
  left: 88%;
  margin-left: -3.5px;
  z-index: 30;
  transition: 0.1s;
  background-color: whitesmoke;
}
body #blender .rendu .wrapper .scroller:before {
  top: 90%;
}
body #blender .rendu .wrapper .scroller:after {
  bottom: 100%;
}
body #blender .rendu .wrapper .scrolling {
  pointer-events: none;
  opacity: 1;
}
@media screen and (max-width: 1200px) {
  body #blender .titre {
    width: 80%;
  }
  body #blender .intro__blender {
    width: 80%;
  }
  body #blender .technologies {
    flex-direction: column;
  }
  body #blender .technologies .outil {
    text-align: left;
  }
  body #blender .technologies .outil div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  body #blender .technologies .outil div p {
    width: 80%;
  }
}
@media screen and (max-width: 750px) {
  body #blender .titre {
    width: 80%;
  }
  body #blender .intro__blender {
    width: 80%;
  }
  body #blender .technologies {
    flex-direction: column;
  }
  body #blender .technologies .outil {
    text-align: center;
  }
  body #blender .technologies .outil div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  body #blender .technologies .outil div p {
    width: 100%;
  }
}

#modeles {
  background-image: url("../medias/Background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 6rem;
}
#modeles .intro__modeles {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: right;
}
@media screen and (max-width: 750px) {
  #modeles .intro__modeles {
    width: 80%;
  }
}
#modeles .description {
  background-color: rgba(0, 0, 0, 0.603);
  position: relative;
  width: 80%;
  height: 22rem;
  border-radius: 2rem;
  border-bottom-left-radius: 8rem;
  display: flex;
  justify-content: flex-end;
}
#modeles .description .objet__3d {
  position: absolute;
  bottom: -1.5rem;
  left: -5rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: rgb(50, 42, 73);
}
#modeles .description .info3D {
  width: 65%;
  margin: 3rem;
  text-align: right;
}
#modeles .description .info3D .titre__objet__3d {
  font-family: "Eger", sans-serif;
  font-size: 5rem;
}
#modeles .description .info3D p {
  padding-left: 6rem;
}
#modeles .description .info3D a i {
  font-size: 2rem;
}
#modeles #inverse {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 8rem;
  justify-content: flex-start;
}
#modeles #inverse .objet__3d__inverse {
  position: absolute;
  bottom: -1.5rem;
  right: -5rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: rgb(50, 42, 73);
}
#modeles #inverse .info3D {
  text-align: left;
}
#modeles #inverse .info3D p {
  padding-left: 0;
  padding-right: 6rem;
}
#modeles #inverse .info3D .telechargement {
  left: 3rem;
}

@media screen and (max-width: 700px) {
  body #modeles .description {
    width: 24rem;
    height: 45rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    justify-content: space-around;
  }
  body #modeles .description .objet__3d {
    top: -3rem;
    left: -0.5rem;
    transform: scale(0.9);
  }
  body #modeles .description .info3D {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  body #modeles .description .info3D p {
    padding-left: 0;
  }
  body #modeles #inverse {
    border-bottom-right-radius: 2rem;
  }
  body #modeles #inverse .objet__3d__inverse {
    top: -3rem;
    left: -0.5rem;
    transform: scale(0.9);
  }
  body #modeles #inverse .info3D {
    text-align: center;
  }
  body #modeles #inverse .info3D p {
    padding-right: 0;
  }
}
@media screen and (max-width: 1000px) {
  #modeles .description {
    width: 35rem;
    height: 45rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    justify-content: space-around;
  }
  #modeles .description .objet__3d {
    top: -3rem;
    left: 5rem;
    transform: scale(1);
  }
  #modeles .description .info3D {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  #modeles .description .info3D p {
    padding-left: 0;
  }
  #modeles #inverse {
    border-bottom-right-radius: 2rem;
  }
  #modeles #inverse .objet__3d__inverse {
    top: -3rem;
    left: 5rem;
    transform: scale(1);
  }
  #modeles #inverse .info3D {
    text-align: center;
  }
  #modeles #inverse .info3D p {
    padding-right: 0;
  }
}
html body #creation {
  background-image: url("../medias/Background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6rem;
}
html body #creation .conteneur__principal__creation {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body #creation .conteneur__principal__creation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
html body #creation .conteneur__principal__creation div .titre {
  width: 100%;
  display: block;
}
html body #creation .conteneur__principal__creation div #banque__photos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 810px;
  padding-top: 1rem;
}
html body #creation .conteneur__principal__creation div #banque__photos .img__creation {
  width: 250px;
  height: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}
html body #creation .conteneur__principal__creation div #banque__photos .gauche {
  background-image: url("../medias/CroquisPersonnage.png");
}
html body #creation .conteneur__principal__creation div #banque__photos .millieu {
  background-image: url("../medias/CroquisPiece.png");
}
html body #creation .conteneur__principal__creation div #banque__photos .droite {
  background-image: url("../medias/CroquisItems.png");
}
html body #creation .conteneur__principal__creation .principal {
  width: 810px;
  height: 420px;
  background-image: url("../medias/MoodBoard.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 9rem;
  position: relative;
}
html body #creation .conteneur__principal__creation .principal i {
  font-size: 2.3rem;
  position: absolute;
  top: 50%;
  transition: all 0.2s ease-in-out;
}
html body #creation .conteneur__principal__creation .principal i:hover {
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
}
html body #creation .conteneur__principal__creation .principal .fleche__droite {
  right: -2.5rem;
}
html body #creation .conteneur__principal__creation .principal .fleche__gauche {
  left: -2.5rem;
  transform: rotate(180deg);
}
@media screen and (max-width: 750px) {
  html body #creation .conteneur__principal__creation div {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  html body #creation .conteneur__principal__creation div #banque__photos {
    width: 600px;
  }
  html body #creation .conteneur__principal__creation div #banque__photos .img__creation {
    width: 150px;
    height: 150px;
  }
  html body #creation .conteneur__principal__creation .principal {
    width: 580px;
    height: 260px;
  }
}

@font-face {
  font-family: "Eger";
  src: url("/font/EGER_1.0/EGER-Regular.otf") format("otf");
}
body header {
  background-image: url("../medias/Background.png");
  background-position: center;
  background-size: cover;
}
body header nav {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.48);
  position: fixed;
  border-bottom: 1px solid whitesmoke;
  z-index: 100;
}
body header nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}
body header nav ul li {
  list-style: none;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body header nav ul li:hover i {
  transform: translateX(-4.5rem);
  opacity: 1;
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
  font-size: 1.5rem;
}
body header nav ul li i {
  position: absolute;
  opacity: 0;
  transition: all 0.1s ease;
}
body header nav ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
body header nav ul li a:hover {
  font-weight: bold;
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
}
body header nav .logo {
  height: 7rem;
}
body header nav .logo img {
  width: 12rem;
  height: auto;
}
body header .conteneur__titre {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
}
body header .conteneur__titre div {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgba(245, 245, 245, 0.2);
  color: #1a1a1a;
  font-size: 5rem;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 5px;
  font-family: "Eger", sans-serif;
}
body header .conteneur__titre .moon {
  font-family: "Eger", sans-serif;
  font-size: 30rem;
  text-align: center;
  text-shadow: 0 0 200px rgba(201, 170, 255, 0.9), 0 0 20px rgba(255, 254, 170, 0.7);
  color: whitesmoke;
  animation: glow 3s infinite alternate;
}
@media screen and (max-width: 750px) {
  body header .conteneur__titre {
    padding-top: 8rem;
  }
  body header .conteneur__titre div {
    font-size: 3rem;
  }
  body header .conteneur__titre .moon {
    font-size: 17rem;
  }
}
body header .synopsis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .synopsis i {
  position: absolute;
  font-size: 5rem;
  opacity: 0.1;
}
body header .synopsis .fa-quote-left {
  top: -3rem;
  left: -3rem;
}
body header .synopsis .fa-quote-right {
  bottom: -3rem;
  right: -3rem;
}
body header .synopsis p {
  width: 60%;
  position: relative;
  font-weight: 500;
}
@media screen and (max-width: 750px) {
  body header .synopsis .fa-quote-left {
    left: -1rem;
  }
  body header .synopsis .fa-quote-right {
    right: -1rem;
  }
  body header .synopsis p {
    width: 80%;
    font-size: 0.9rem;
    text-align: center;
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 150px rgba(201, 170, 255, 0.7), 0 0 15px rgba(255, 254, 170, 0.5);
  }
  50% {
    text-shadow: 0 0 200px rgba(201, 170, 255, 0.8), 0 0 20px rgba(255, 254, 170, 0.6);
  }
  100% {
    text-shadow: 0 0 250px rgba(201, 170, 255, 0.9), 0 0 25px rgba(255, 254, 170, 0.7);
  }
}
body footer {
  background-image: url("../medias/Background.png");
  height: 20rem;
  position: relative;
}
body footer .info__footer {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  height: 100%;
}
body footer .info__footer .sociaux {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  z-index: 100;
}
body footer .info__footer .sociaux a:hover {
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
}
body footer .info__footer .sociaux a i {
  font-size: 2rem;
}
body footer #wrap {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto 0 auto;
  overflow: hidden;
}
body footer #wrap #lightings {
  bottom: -60px;
  position: absolute;
  width: 100%;
}
body footer #wrap #lightings section {
  /*border-radius*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  width: 100%;
  position: relative;
  margin: auto;
}
body footer #wrap #lightings #one {
  /*animation*/
  -webkit-animation: one 5s ease-in-out infinite alternate;
  -moz-animation: one 5s ease-in-out infinite alternate;
  -ms-animation: one 5s ease-in-out infinite alternate;
  -o-animation: one 5s ease-in-out infinite alternate;
  animation: one 5s ease-in-out infinite alternate;
}
body footer #wrap #lightings #two {
  width: 90%;
  /*animation*/
  -webkit-animation: two 4s ease-in-out infinite alternate;
  -moz-animation: two 4s ease-in-out infinite alternate;
  -ms-animation: two 4s ease-in-out infinite alternate;
  -o-animation: two 4s ease-in-out infinite alternate;
  animation: two 4s ease-in-out infinite alternate;
}
body footer #wrap #lightings #three {
  width: 80%;
  /*animation*/
  -webkit-animation: three 3s ease-in-out infinite alternate;
  -moz-animation: three 3s ease-in-out infinite alternate;
  -ms-animation: three 3s ease-in-out infinite alternate;
  -o-animation: three 3s ease-in-out infinite alternate;
  animation: three 3s ease-in-out infinite alternate;
}
body footer #wrap #lightings #four {
  width: 70%;
  /*animation*/
  -webkit-animation: four 2s ease-in-out infinite alternate;
  -moz-animation: four 2s ease-in-out infinite alternate;
  -ms-animation: four 2s ease-in-out infinite alternate;
  -o-animation: four 2s ease-in-out infinite alternate;
  animation: four 2s ease-in-out infinite alternate;
}
body footer #wrap #lightings #five {
  width: 60%;
  /*animation*/
  -webkit-animation: five 1s ease-in-out infinite alternate;
  -moz-animation: five 1s ease-in-out infinite alternate;
  -ms-animation: five 1s ease-in-out infinite alternate;
  -o-animation: five 1s ease-in-out infinite alternate;
  animation: five 1s ease-in-out infinite alternate;
}

@-webkit-keyframes one {
  from {
    -webkit-box-shadow: 0 0 250px 20px #473c78;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #f72a3b;
  }
}
@-moz-keyframes one {
  from {
    -moz-box-shadow: 0 0 250px 20px #473c78;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #f72a3b;
  }
}
@-o-keyframes one {
  from {
    -o-box-shadow: 0 0 250px 20px #473c78;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #f72a3b;
  }
}
@keyframes one {
  from {
    box-shadow: 0 0 250px 20px #473c78;
  }
  to {
    box-shadow: 0 0 100px 15px #f72a3b;
  }
}
@-webkit-keyframes two {
  from {
    -webkit-box-shadow: 0 0 250px 20px #18c499;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #d8f05e;
  }
}
@-moz-keyframes two {
  from {
    -moz-box-shadow: 0 0 250px 20px #18c499;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #d8f05e;
  }
}
@-o-keyframes two {
  from {
    -o-box-shadow: 0 0 250px 20px #18c499;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #d8f05e;
  }
}
@keyframes two {
  from {
    box-shadow: 0 0 250px 20px #18c499;
  }
  to {
    box-shadow: 0 0 100px 15px #d8f05e;
  }
}
@-webkit-keyframes three {
  from {
    -webkit-box-shadow: 0 0 250px 20px #ffdd00;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@-moz-keyframes three {
  from {
    -moz-box-shadow: 0 0 250px 20px #ffdd00;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@-o-keyframes three {
  from {
    -o-box-shadow: 0 0 250px 20px #ffdd00;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@keyframes three {
  from {
    box-shadow: 0 0 250px 20px #ffdd00;
  }
  to {
    box-shadow: 0 0 100px 15px #3e33ff;
  }
}
@-webkit-keyframes four {
  from {
    -webkit-box-shadow: 0 0 250px 20px #781848;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}
@-moz-keyframes four {
  from {
    -moz-box-shadow: 0 0 250px 20px #781848;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}
@-o-keyframes four {
  from {
    -o-box-shadow: 0 0 250px 20px #781848;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #f2bbe9;
  }
}
@keyframes four {
  from {
    shadow: 0 0 250px 20px #781848;
  }
  to {
    shadow: 0 0 100px 15px #f2bbe9;
  }
}
@-webkit-keyframes five {
  from {
    -webkit-box-shadow: 0 0 250px 20px #42f2a1;
  }
  to {
    -webkit-box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
@-moz-keyframes five {
  from {
    -moz-box-shadow: 0 0 250px 20px #42f2a1;
  }
  to {
    -moz-box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
@-o-keyframes five {
  from {
    -o-box-shadow: 0 0 250px 20px #42f2a1;
  }
  to {
    -o-box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
@keyframes five {
  from {
    box-shadow: 0 0 250px 20px #42f2a1;
  }
  to {
    box-shadow: 0 0 100px 15px #f4f6ad;
  }
}
html {
  scroll-behavior: smooth;
}
html a {
  text-decoration: none;
  color: whitesmoke;
}
html body {
  background-color: #1a1a1a;
  color: whitesmoke;
}
html body p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
html body section .titre {
  font-family: "Eger", sans-serif;
  font-size: 5rem;
  color: #1a1a1a;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: whitesmoke;
  letter-spacing: 5px;
}
html body #modeles {
  background-color: white;
}/*# sourceMappingURL=main.css.map */