#modeles {
  background-image: url("../medias/Background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 6rem;
}
#modeles .intro__modeles {
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: right;
}
#modeles .description {
  background-color: rgba(0, 0, 0, 0.603);
  position: relative;
  width: 60%;
  height: 22rem;
  border-radius: 2rem;
  border-bottom-left-radius: 8rem;
  display: flex;
  justify-content: flex-end;
}
#modeles .description .objet__3d {
  position: absolute;
  bottom: -1.5rem;
  left: -5rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: rgb(50, 42, 73);
}
#modeles .description .info3D {
  width: 65%;
  margin: 3rem;
  text-align: right;
}
#modeles .description .info3D .titre__objet__3d {
  font-family: "Eger", sans-serif;
  font-size: 5rem;
}
#modeles .description .info3D p {
  padding-left: 5rem;
}
#modeles .description .info3D .telechargement {
  margin-top: 2.5rem;
  border: 1px solid white;
  width: 10rem;
  height: 2rem;
  position: absolute;
  right: 3rem;
  bottom: 2rem;
}
#modeles #inverse {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 8rem;
  justify-content: flex-start;
}
#modeles #inverse .objet__3d__inverse {
  position: absolute;
  bottom: -1.5rem;
  right: -5rem;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: rgb(50, 42, 73);
}
#modeles #inverse .info3D {
  text-align: left;
}
#modeles #inverse .info3D p {
  padding-left: 0;
  padding-right: 5rem;
}
#modeles #inverse .info3D .telechargement {
  left: 3rem;
}

html body #creation {
  background-image: url("../medias/Background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6rem;
}
html body #creation .conteneur__principal__creation {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body #creation .conteneur__principal__creation div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
html body #creation .conteneur__principal__creation div .titre {
  width: 100%;
  display: block;
}
html body #creation .conteneur__principal__creation div #banque__photos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 810px;
  padding-top: 1rem;
}
html body #creation .conteneur__principal__creation div #banque__photos .img__creation {
  width: 250px;
  height: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}
html body #creation .conteneur__principal__creation div #banque__photos .gauche {
  background-image: url("../medias/CroquisPersonnage.png");
}
html body #creation .conteneur__principal__creation div #banque__photos .millieu {
  background-image: url("../medias/CroquisPiece.png");
}
html body #creation .conteneur__principal__creation div #banque__photos .droite {
  background-image: url("../medias/CroquisItems.png");
}
html body #creation .conteneur__principal__creation .principal {
  width: 810px;
  height: 420px;
  background-image: url("../medias/MoodBoard.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 9rem;
  position: relative;
}
html body #creation .conteneur__principal__creation .principal i {
  font-size: 2.3rem;
  position: absolute;
  top: 50%;
  transition: all 0.2s ease-in-out;
}
html body #creation .conteneur__principal__creation .principal i:hover {
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
}
html body #creation .conteneur__principal__creation .principal .fleche__droite {
  right: -2.5rem;
}
html body #creation .conteneur__principal__creation .principal .fleche__gauche {
  left: -2.5rem;
  transform: rotate(180deg);
}

@font-face {
  font-family: "Eger";
  src: url("/font/EGER_1.0/EGER-Regular.otf") format("otf");
}
body header {
  background-image: url("../medias/Background.png");
  background-position: center;
  background-size: cover;
}
body header nav {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.48);
  position: fixed;
  border-bottom: 1px solid whitesmoke;
  z-index: 100;
}
body header nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
}
body header nav ul li {
  list-style: none;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body header nav ul li:hover i {
  transform: translateX(-4.5rem);
  opacity: 1;
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
  font-size: 1.5rem;
}
body header nav ul li i {
  position: absolute;
  opacity: 0;
  transition: all 0.1s ease;
}
body header nav ul li a {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 2px;
}
body header nav ul li a:hover {
  font-weight: bold;
  text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
}
body header nav .logo {
  height: 7rem;
}
body header nav .logo img {
  width: 12rem;
  height: auto;
}
body header .conteneur__titre {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
}
body header .conteneur__titre div {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgba(245, 245, 245, 0.2);
  color: #1a1a1a;
  font-size: 5rem;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 5px;
  font-family: "Eger", sans-serif;
}
body header .conteneur__titre .moon {
  font-family: "Eger", sans-serif;
  font-size: 30rem;
  text-align: center;
  text-shadow: 0 0 200px rgba(201, 170, 255, 0.9), 0 0 20px rgba(255, 254, 170, 0.7);
  color: whitesmoke;
  animation: glow 3s infinite alternate;
}
body header .synopsis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .synopsis p {
  width: 60%;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 150px rgba(201, 170, 255, 0.7), 0 0 15px rgba(255, 254, 170, 0.5);
  }
  50% {
    text-shadow: 0 0 200px rgba(201, 170, 255, 0.8), 0 0 20px rgba(255, 254, 170, 0.6);
  }
  100% {
    text-shadow: 0 0 250px rgba(201, 170, 255, 0.9), 0 0 25px rgba(255, 254, 170, 0.7);
  }
}
html {
  scroll-behavior: smooth;
}
html a {
  text-decoration: none;
  color: whitesmoke;
}
html body {
  background-color: #1a1a1a;
  color: whitesmoke;
}
html body p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
html body section .titre {
  font-family: "Eger", sans-serif;
  font-size: 5rem;
  color: #1a1a1a;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: whitesmoke;
  letter-spacing: 5px;
}
html body #modeles {
  background-color: white;
}/*# sourceMappingURL=main.css.map */