body {
  #blender {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    background-image: url("../medias/Background.png");

    .titre {
      width: 60%;
      text-shadow: 0 0 12px #b316d6, 0 0 18px #927419, 0 0 24px #563e1a,
        0 0 30px #5c4d1d, 0 0 40px #e8bf09;
    }

    .intro__blender {
      width: 60%;
      padding-bottom: 3rem;
    }

    .technologies {
      display: flex;
      width: 80%;
      gap: 1rem;
      background-color: #0000009c;
      padding: 3rem;
      border-radius: 2rem;

      .outil {
        div {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            width: 80%;
          }

          @media screen and (max-width: 750px) {
            flex-direction: column-reverse;
          }
          .modal {
            display: none; // Cachée par défaut
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);

            &-content {
              background-color: #1e1e1e;
              margin: 10% auto;
              padding: 20px;
              border: 1px solid #888;
              width: 70%;
              height: 70%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: relative;

              img {
                width: 40rem;
              }
            }

            & .close {
              color: #aaa;
              float: right;
              font-size: 28px;
              font-weight: bold;
              position: absolute;
              top: 1rem;
              right: 1.5rem;

              &:hover,
              &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
              }
            }
          }

          .gif__outil {
            width: 300px;
            height: 200px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            cursor: pointer;
          }

          #gif__sculpt {
            background-image: url("../medias/Gif_medias/Outil_Sculpt.gif");
          }
          #gif__curve {
            background-image: url("../medias/Gif_medias/Outil_Curve.gif");
          }

          #gif__shrinkwrap {
            background-image: url("../medias/Gif_medias/Outil_Shrinkwrap.gif");
          }
        }
      }
    }

    .rendu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      #rendu__final {
        font-size: 7rem;
        width: 100%;
        text-align: center;
        margin-top: 4rem;
      }

      .wrapper {
        width: 1100px;
        height: 820px;
        position: relative;
        margin-top: 1rem;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);

        @media screen and (max-width: 1000px) {
          width: 670px;
          height: 500px;
        }

        .before,
        .after {
          height: 100%;
          background-repeat: no-repeat;
          background-color: white;
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          overflow: hidden;

          .content-image {
            height: 100%;
          }
        }

        .after {
          width: 125px;
        }

        .scroller {
          width: 30px;
          position: absolute;
          left: 100px;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
          background-color: transparent;
          opacity: 0.9;
          pointer-events: auto;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }

          .scroller__thumb {
            width: 100%;
            height: 100%;
            padding: 6px;
            border: 6px solid white;
            border-radius: 50%;
          }
        }

        .scroller:before,
        .scroller:after {
          content: " ";
          display: block;
          width: 7px;
          height: 9999px;
          position: absolute;
          left: 88%;
          margin-left: -3.5px;
          z-index: 30;
          transition: 0.1s;
          background-color: whitesmoke;
        }
        .scroller:before {
          top: 90%;
        }
        .scroller:after {
          bottom: 100%;
        }

        .scrolling {
          pointer-events: none;
          opacity: 1;
          // z-index: 1;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    #blender {
      .titre {
        width: 80%;
      }
      .intro__blender {
        width: 80%;
      }
      .technologies {
        flex-direction: column;
        .outil {
          text-align: left;
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            p {
              width: 80%;
            }

            .gif__outil {
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 750px) {
    #blender {
      .titre {
        width: 80%;
      }
      .intro__blender {
        width: 80%;
      }
      .technologies {
        flex-direction: column;
        .outil {
          text-align: center;
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            p {
              width: 100%;
            }
          }
        }
      }
      .rendu {
        .wrapper {
          width: 500px;
          height: 370px;
        }
      }
    }
  }
}
