body {
  #blender {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;

    .titre {
      width: 60%;
    }

    .intro__blender {
      width: 60%;
    }

    .technologies {
      display: flex;
      width: 80%;
      gap: 1rem;

      .outil {
        div {
          @media screen and (max-width: 750px) {
            flex-direction: column-reverse;
          }
          .modal {
            display: none; // Cachée par défaut
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);

            &-content {
              background-color: #fefefe;
              margin: 15% auto;
              padding: 20px;
              border: 1px solid #888;
              width: 80%;
              height: 70%;
            }

            & .close {
              color: #aaa;
              float: right;
              font-size: 28px;
              font-weight: bold;

              &:hover,
              &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
              }
            }
          }

          .gif__outil {
            width: 300px;
            height: 200px;
            background-color: rgba(255, 255, 255, 0.35);
          }
        }
      }
    }

    .rendu {
      display: flex;
      align-items: center;
      justify-content: center;

      .wrapper {
        width: 900px;
        height: 550px;
        position: relative;
        margin-top: 6rem;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);

        @media screen and (max-width: 1000px) {
          width: 700px;
          height: 425px;
        }

        .before,
        .after {
          height: 100%;
          background-repeat: no-repeat;
          background-color: white;
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          overflow: hidden;

          .content-image {
            height: 100%;
          }
        }

        .after {
          width: 125px;
        }

        .scroller {
          width: 30px;
          position: absolute;
          left: 100px;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
          background-color: transparent;
          opacity: 0.9;
          pointer-events: auto;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }

          .scroller__thumb {
            width: 100%;
            height: 100%;
            padding: 6px;
            border: 6px solid white;
            border-radius: 50%;
          }
        }

        .scroller:before,
        .scroller:after {
          content: " ";
          display: block;
          width: 7px;
          height: 9999px;
          position: absolute;
          left: 88%;
          margin-left: -3.5px;
          z-index: 30;
          transition: 0.1s;
          background-color: whitesmoke;
        }
        .scroller:before {
          top: 90%;
        }
        .scroller:after {
          bottom: 100%;
        }

        .scrolling {
          pointer-events: none;
          opacity: 1;
          // z-index: 1;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    #blender {
      .titre {
        width: 80%;
      }
      .intro__blender {
        width: 80%;
      }
      .technologies {
        flex-direction: column;
        .outil {
          text-align: left;
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            p {
              width: 80%;
            }

            .gif__outil {
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 750px) {
    #blender {
      .titre {
        width: 80%;
      }
      .intro__blender {
        width: 80%;
      }
      .technologies {
        flex-direction: column;
        .outil {
          text-align: center;
          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            p {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
