html {
  body {
    #creation {
      background-image: url("../medias/Background.png");
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 6rem;

      .conteneur__principal__creation {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 60%;

          .titre {
            width: 100%;
            display: block;
          }

          #banque__photos {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 810px;
            padding-top: 1rem;
            .img__creation {
              width: 250px;
              height: 250px;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              background-color: white;
            }
            .gauche {
              background-image: url("../medias/CroquisPersonnage.png");
            }
            .millieu {
              background-image: url("../medias/CroquisPiece.png");
            }
            .droite {
              background-image: url("../medias/CroquisItems.png");
            }
          }
        }
        .principal {
          width: 810px;
          height: 420px;
          background-image: url("../medias/MoodBoard.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          padding-top: 9rem;

          position: relative;

          i {
            font-size: 2.3rem;
            position: absolute;
            top: 50%;
            transition: all 0.2s ease-in-out;
            &:hover {
              text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
            }
          }
          .fleche__droite {
            right: -2.5rem;
          }
          .fleche__gauche {
            left: -2.5rem;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
