body {
  header {
    // Arrière-plan du header avec une image centrée et redimensionnée pour couvrir
    background-image: url("../medias/Background.png");
    background-position: center;
    background-size: cover;

    .menu__open {
      // Masquer le débordement pour le menu ouvert
      overflow: hidden;
    }

    #menu__toggle {
      // Masquer l'interrupteur de menu
      display: none;
    }

    #menu__toggle:checked ~ .menu {
      // Animation pour afficher le menu lorsqu'il est ouvert
      transform: translateX(0rem);
      transition: all 0.5s ease-in-out;
    }

    .fa-bars {
      // Icône de menu hamburger pour les appareils mobiles
      font-size: 2.5rem;
      position: fixed;
      right: 1rem;
      top: 0.5rem;
      z-index: 1000;

      @media screen and (min-width: 750px) {
        display: none;
      }
    }

    nav {
      // Conteneur pour la navigation
      width: 100vw;
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.48);
      position: fixed;
      border-bottom: 1px solid whitesmoke;
      z-index: 100;

      ul {
        // Liste des éléments de navigation
        display: flex;
        justify-content: space-around;
        width: 50vw;

        li {
          // Éléments de la liste de navigation
          list-style: none;
          width: 5rem;

          // Animation lors du survol d'un élément de navigation
          &:hover i {
            transform: translateX(-4.5rem);
            opacity: 1;
            text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
            font-size: 1.5rem;
          }

          i {
            // Icône de la lune
            position: absolute;
            opacity: 0;
            transition: all 0.1s ease;
          }

          a {
            // Style des liens de navigation
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 0.9rem;
            letter-spacing: 2px;
            &:hover {
              font-weight: bold;
              text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
            }
          }
        }
      }

      .logo {
        // Logo du site web
        height: 7rem;
        img {
          width: 12rem;
          height: auto;
        }
      }

      @media screen and (max-width: 750px) {
        // Styles pour les appareils mobiles
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        border-bottom: none;
        flex-direction: column;
        transform: translateX(50rem);
        transition: all 0.5s ease-in-out;

        ul {
          flex-direction: column;
          justify-content: space-evenly;
          width: 20rem;
          height: 100%;

          li {
            width: 18rem;

            // Animation lors du survol d'un élément de navigation
            &:hover i {
              transform: translateX(-4.5rem);
              opacity: 1;
              text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
              font-size: 1.5rem;
            }

            i {
              position: absolute;
              opacity: 0;
              transition: all 0.1s ease;
            }

            a {
              font-family: "Lato", sans-serif;
              font-weight: 300;
              font-size: 0.9rem;
              letter-spacing: 2px;
              &:hover {
                font-weight: bold;
                text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
              }
            }
          }
        }

        .logo {
          // Style du logo pour les appareils mobiles
          text-align: center;

          img {
            width: 12rem;
            height: auto;
          }
        }
      }
    }

    .conteneur__titre {
      // Conteneur pour le titre principal
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 7rem;
      position: relative;
      div {
        // Style du titre principal
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: rgba(245, 245, 245, 0.2);
        color: $GrisFoncer;
        font-size: 5rem;
        text-align: center;
        word-spacing: 5px;
        letter-spacing: 5px;
        font-family: "Eger", sans-serif;
      }
      .moon {
        // Style de la lune
        font-family: "Eger", sans-serif;
        font-size: 30rem;
        text-align: center;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
          0 0 40px #00d0ff, 0 0 70px #00d0ff, 0 0 80px #00d0ff,
          0 0 100px #00d0ff, 0 0 150px #00d0ff;
        color: whitesmoke;
        animation: glow 10s infinite alternate;
      }

      #MoonVisage {
        // Style de l'image de la lune
        width: 650px;
        position: absolute;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 1200px) {
          width: 500px;
          right: auto;
        }
        @media screen and (max-width: 750px) {
          width: 400px;
        }
      }

      @media screen and (max-width: 750px) {
        // Styles pour les appareils mobiles
        padding-top: 8rem;
        div {
          font-size: 3rem;
        }
        .moon {
          font-size: 23rem;
        }
      }
    }

    .synopsis {
      // Conteneur pour le synopsis
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.352);
      padding: 1rem;

      i {
        // Icônes de guillemets pour le synopsis
        position: absolute;
        font-size: 5rem;
        opacity: 0.1;
      }
      .fa-quote-left {
        top: -4rem;
        left: -3rem;
      }
      .fa-quote-right {
        bottom: -4rem;
        right: -3rem;
      }

      p {
        // Style du texte du synopsis
        width: 60%;
        position: relative;
        font-weight: 500;
      }

      @media screen and (max-width: 750px) {
        // Styles pour les appareils mobiles
        .fa-quote-left {
          left: -1rem;
        }
        .fa-quote-right {
          right: -1rem;
        }

        p {
          width: 80%;
          font-size: 0.9rem;
          text-align: center;
        }
      }
    }
  }
}

// Animation du glow pour le titre de l'accueil
@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 40px #54218f, 0 0 40px #12b7dd,
      0 0 70px #248ea6, 0 0 80px #265e6a, 0 0 100px #2d4d54, 0 0 150px #2f3638;
  }
  50% {
    text-shadow: 0 0 200px #12b7dd, 0 0 350px #248ea6, 0 0 400px #265e6a,
      0 0 500px #2d4d54, 0 0 750px #2f3638;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 40px #54218f, 0 0 40px #12b7dd,
      0 0 70px #248ea6, 0 0 80px #265e6a, 0 0 100px #2d4d54, 0 0 150px #2f3638;
  }
}
