#modeles {
  background-image: url("../medias/Background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-top: 6rem;

  /* Styles pour l'introduction des modèles */
  .intro__modeles {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-bottom: 3rem;

    @media screen and (max-width: 750px) {
      width: 80%;
    }
  }

  /* Styles pour la description des modèles */
  .description {
    background-color: rgba(0, 0, 0, 0.603);
    position: relative;
    width: 80%;
    height: 22rem;
    border-radius: 2rem;
    border-bottom-left-radius: 11rem;
    border-top-left-radius: 11rem;
    display: flex;
    justify-content: flex-end;

    /* Styles pour l'image 3D */
    .img__3d {
      width: 30%;
      position: relative;

      /* Positionnement des modèles 3D */
      .modele__3d {
        width: 700px;
        height: auto;
        position: absolute;
        top: -12rem;
        left: -12rem;
      }

      /* Styles pour chaque modèle spécifique */
      #livre__potion {
        width: 600px;
        left: -7rem;
        top: -6rem;

        @media screen and (max-width: 1445px) {
          width: 500px;
          top: -2rem;
          left: -3rem;
        }
      }
    }

    /* Styles pour les informations sur les modèles 3D */
    .info3D {
      width: 65%;
      margin: 2rem;
      text-align: right;

      /* Styles pour le titre des objets 3D */
      .titre__objet__3d {
        font-family: "Eger", sans-serif;
        font-size: 5rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
        letter-spacing: 2px;

        @media screen and (max-width: 1000px) {
          justify-content: center;
          flex-direction: row;
        }
      }

      /* Styles pour les paragraphes d'informations */
      p {
        padding-left: 6rem;
      }

      /* Styles pour les liens de téléchargement */
      a {
        i {
          font-size: 2rem;
          z-index: 100;
          position: relative;
          opacity: 0.5;

          &:hover {
            opacity: 1;
            text-shadow: 0 0 20px rgba(255, 254, 170, 0.7);
          }
        }
      }
    }
  }

  /* Styles pour la section inversée */
  #inverse {
    border-bottom-right-radius: 11rem;
    border-top-right-radius: 11rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    display: flex;
    flex-direction: row-reverse;

    /* Styles pour l'image 3D */
    .img__3d {
      width: 30%;
      position: relative;

      /* Positionnement des modèles 3D */
      .modele__3d {
        width: 700px;
        position: absolute;
        top: -12rem;
        left: -12rem;
      }

      /* Styles pour chaque modèle spécifique */
      #chaudron {
        width: 1000px;
        top: -23rem;
        left: -23rem;

        @media screen and (max-width: 1445px) {
          width: 850px;
          top: -15rem;
          left: -19rem;
        }
      }

      #stand__livre {
        transform: rotate(2deg);
      }
    }

    /* Styles pour les informations sur les modèles 3D */
    .info3D {
      text-align: left;

      /* Styles pour le titre des objets 3D */
      .titre__objet__3d {
        flex-direction: row;
      }

      /* Styles pour les paragraphes d'informations */
      p {
        padding-left: 0;
        padding-right: 6rem;
      }

      /* Styles pour les liens de téléchargement */
      .telechargement {
        left: 3rem;
      }
    }
  }
}

/* Styles pour les écrans de petite taille */
@media screen and (max-width: 700px) {
  body {
    #modeles {
      .description {
        width: 24rem;
        height: 45rem;
        border-bottom-left-radius: 2rem;
        border-top-right-radius: 11rem;
        display: flex;
        justify-content: space-around;

        .img__3d {
          width: 0%;
          position: relative;
          .modele__3d {
            width: 450px;
            top: -6rem;
            left: -2rem;
          }

          #livre__potion {
            width: 400px;
            left: -0.5rem;
            top: -4rem;
          }
        }

        .info3D {
          width: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: end;

          p {
            padding-left: 0;
          }
        }
      }
      #inverse {
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 11rem;

        .img__3d {
          width: 0%;
          position: relative;

          #chaudron {
            width: 520px;
            top: -7rem;
            left: -29rem;
          }

          #stand__livre {
            transform: rotate(2deg);
            width: 470px;
            top: -8rem;
            left: -27rem;
          }
        }

        .info3D {
          text-align: center;

          p {
            padding-right: 0;
          }
        }
      }
    }
  }
}

/* Styles pour les écrans de taille moyenne */
@media screen and (max-width: 1000px) {
  #modeles {
    .description {
      width: 35rem;
      height: 45rem;
      border-bottom-left-radius: 2rem;
      border-top-right-radius: 11rem;

      .img__3d {
        width: 0%;
        position: relative;
        .modele__3d {
          width: 550px;
          top: -8rem;
          left: 0rem;
        }

        #livre__potion {
          width: 500px;
          left: 2rem;
          top: -4rem;
        }
      }

      .info3D {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: end;

        p {
          padding-left: 0;
        }
      }
    }
    #inverse {
      border-bottom-right-radius: 2rem;
      border-top-left-radius: 11rem;

      .img__3d {
        width: 0%;
        position: relative;

        #chaudron {
          width: 700px;
          top: -12rem;
          left: -40rem;
        }

        #stand__livre {
          transform: rotate(2deg);
          width: 550px;
          top: -8rem;
          left: -35rem;
        }
      }

      .info3D {
        text-align: center;

        p {
          padding-right: 0;
        }
      }
    }
  }
}
