#modeles {
  background-image: url("../medias/Background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 6rem;

  .intro__modeles {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: right;

    @media screen and (max-width: 750px) {
      width: 80%;
    }
  }

  .description {
    background-color: rgba(0, 0, 0, 0.603);
    position: relative;
    width: 80%;
    height: 22rem;
    border-radius: 2rem;
    border-bottom-left-radius: 8rem;
    display: flex;
    justify-content: flex-end;

    .objet__3d {
      position: absolute;
      bottom: -1.5rem;
      left: -5rem;
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
      background-color: rgb(50, 42, 73);
    }

    .info3D {
      width: 65%;
      margin: 3rem;
      text-align: right;

      .titre__objet__3d {
        font-family: "Eger", sans-serif;
        font-size: 5rem;
      }
      p {
        padding-left: 6rem;
      }
      a {
        i {
          font-size: 2rem;
        }
      }
    }
  }

  #inverse {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 8rem;
    justify-content: flex-start;

    .objet__3d__inverse {
      position: absolute;
      bottom: -1.5rem;
      right: -5rem;
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
      background-color: rgb(50, 42, 73);
    }

    .info3D {
      text-align: left;

      p {
        padding-left: 0;
        padding-right: 6rem;
      }
      .telechargement {
        left: 3rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  body {
    #modeles {
      .description {
        width: 24rem;
        height: 45rem;
        border-bottom-left-radius: 2rem;
        display: flex;
        justify-content: space-around;

        .objet__3d {
          top: -3rem;
          left: -0.5rem;
          transform: scale(0.9);
        }

        .info3D {
          width: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: end;

          p {
            padding-left: 0;
          }
        }
      }
      #inverse {
        border-bottom-right-radius: 2rem;

        .objet__3d__inverse {
          top: -3rem;
          left: -0.5rem;
          transform: scale(0.9);
        }

        .info3D {
          text-align: center;

          p {
            padding-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #modeles {
    .description {
      width: 35rem;
      height: 45rem;
      border-bottom-left-radius: 2rem;
      display: flex;
      justify-content: space-around;

      .objet__3d {
        top: -3rem;
        left: 5rem;
        transform: scale(1);
      }

      .info3D {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: end;

        p {
          padding-left: 0;
        }
      }
    }
    #inverse {
      border-bottom-right-radius: 2rem;

      .objet__3d__inverse {
        top: -3rem;
        left: 5rem;
        transform: scale(1);
      }

      .info3D {
        text-align: center;

        p {
          padding-right: 0;
        }
      }
    }
  }
}
