//____IMPORTATION DES FICHIERS SASS____//

@import "./variables";
@import "./header";

//____SASS DE BASE____//

html {
  scroll-behavior: smooth;

  a {
    text-decoration: none;
    color: whitesmoke;
  }

  h1 {
    font-family: "Eger", sans-serif;
  }

  body {
    background-color: $GrisFoncer;
    color: whitesmoke;

    section {
      height: 100vh;
      width: 100vw;
    }

    #modeles {
      background-color: white;
    }
  }
}
