//____IMPORTATION DES FICHIERS SASS____//

@import'./variables';
@import'./header';

html {
    scroll-behavior: smooth;
  

body{

    background-color: $GrisFoncer;
    color: whitesmoke;
    
    section{

        height: 100vh;
        width: 100vw;
      
    }

    #modeles{

        background-color: white;
      }
}

}